<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <title>新規登録</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <h1>新規登録</h1>
  <form action="/register" method="POST">
    <label>ユーザー名:</label><br>
    <input type="text" name="username" required><br>
    <label>パスワード:</label><br>
    <input type="password" name="password" required><br>
    <button type="submit">登録</button>
  </form>
  <p><a href="/">ログイン画面へ戻る</a></p>
</body>
</html>
